@import "../../shared/verbose";

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    max-width: 320px;
}
  
tr:nth-child(even) {
    background-color: $background-odd-row;
}

.action-col {
    width: 120px;
    & > :first-child {
        margin-right: 8px;
    }
} 