@import "../../shared/verbose";

table {
    margin-top: 48px;
    border-collapse: collapse;
    overflow-x: auto;
    
    @media (max-width: 580px) {
        display: inline-block;
        width: calc(100vw - 32px);
    }

    @media (min-width: 581px) and (max-width: 996px) {
        display: inline-table;
    }

    @media (min-width: 997px) {
        display: table;
        width: 100%;
    }

    & > :nth-child(even) {
        background-color: $background-odd-row;
    }
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
}

.action-col-2 {
    width: 30px;
} 