@import "shared/verbose.scss";

* {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

label {
    display: block;
}

input, select {
    width: 260px;
    height: 25px;
    outline: none;
    border-radius: 6px;
    border-width: 1px;
    padding: 4px 6px;
    text-align: left;
    box-sizing: content-box;
}

:root button {
    border-radius: 6px;
    padding: 8px 16px;
    outline: none;
    cursor: pointer;
    &.primary {
        background-color: $primary;
        color: $secondary;
    }
    &.secondary {
        background-color: $secondary;
        color: $primary;
    }
}

.container {
    max-width: 996px;
    display: block;
    margin: 0 auto;
    position: relative;

    @media (max-width: 996px) {
        padding: 16px;
    }

    @media (min-width: 997px) {
        padding: 48px;
    }
}